.DS_Store
.AppleDouble
.LSOverride
Icon

xcuserdata/
*.xcuserstate
build/
DerivedData/
*.log
.build/
.swiftpm/
Package.resolved
xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*~.nib
*.swp

*.thm
timeline.xctimeline
playground.xcworkspace
Sources/*.playground.swift

Pods/
Podfile.lock

Carthage/
Carthage/Build/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

*.xcarchive
*.simdevice
Artifacts/

.env
Secrets.swift

